<!DOCTYPE html>
<html ng-app="netzwerk">

<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js"></script>
<!-- script src='https://cdn.firebase.com/v0/firebase.js'></script-->
<script src="https://cdn.firebase.com/js/client/2.1.2/firebase.js"></script>
<script
	src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
<script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
<script src="generateId.js"></script>
<script src="greeter.js"></script>
<script src="auth.js"></script>
<script src="tasks.js"></script>
<script src="templates.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="netzwerk.css"></link>
</head>

<body>
	<div class="row">
		<div class="span9 offset2">
			<div class="page-header">
				<h2>Willkommen im Gemeindenetzwerk der Ev. Kirchengemeinde!</h2>
			</div>
		</div>
		<div ng-controller="GreeterMainViewCtrl" ng-show="loggedIn()">
			<div class="span4 offset1">
				<strong>{{getUser().email}}</strong>
				<a href="" ng-click="logout()">Ausloggen</a>
				<a href="mainViewTask.html" ng-show="isAdmin()">Admin-Bereich</a>
			</div>
		</div>
		<div ng-controller="GreeterMainViewCtrl" ng-hide="loggedIn()">
			<div class="span4 offset1">
				<strong>Nicht eingeloggt</strong>
			</div>
		</div>
	</div>
	<div ng-controller="GreeterMainViewCtrl">
		<div class="row">
			<div class="span9 offset2">
				<ul class="unstyled">
					<li ng-repeat="(key, task) in tasks">
					<a href="mailto:{{task.email}}">{{task.email}}</a>
						{{getVerb(task.isOffer)}} <br /> <strong>{{task.name}}</strong> <br />
						{{task.description}}
						<hr /></li>
				</ul>
			</div>
			<div class="span4 offset1" ng-view />
		</div>
	</div>
</body>

</html>